body {font-size: larger;
background-image: url(slike/Space-Background-Image-3-1536x1024.jpg);
background-size: cover;
background-repeat: no-repeat;
color: aliceblue;}

header, main, footer {
    margin: 0 auto;
    max-width: 991px;
    color: aliceblue;}

header a {text-decoration: none;
    color: aliceblue;}


header {height: 110px;}
div{ display: inline-block;}

li{float: left;
list-style-type: none;
padding: 15px;
color: aliceblue;}

.icon { width: 32px;
        height:32px;}

.social_footer{
    color: aliceblue;
    margin: auto;
    width: 33%;
    min-height: 110px;}
.social_footer :hover, header li :hover{ background-color:pink;}

.gpu img {float: right;
    height: 240px;
    width: 340px;
    margin: 35px;}

.cpu img{float: left;
    height: 240px;
    width: 340px;
    margin: 35px;}
.ostalo img{float: right;
    height: 240px;
    width: 340px;
    margin: 35px;}