body {font-size: larger;
background-image: url(slike/Space-Background-Image-3-1536x1024.jpg);
background-size: cover;
background-repeat: no-repeat;
color: aliceblue;}

header, main, footer {
    margin: 0 auto;
    max-width: 991px;
    color: aliceblue; }

header a {text-decoration: none;
    color: aliceblue;}
.main_usluge section p {text-align: justify;}


header {height: 110px;}
.header_spacer1 { width: 33px;}
.header_spacer2 { width: 45px;}

div{ display: inline-block;}

li{float: left;
list-style-type: none;
padding: 15px;
color: aliceblue;}

p {text-align: justify;
    line-height: 30px;}

.icon { width: 32px;
        height:32px;}

.social_footer {
        margin: 0 auto;
        width: 50%;
    }
    
.social_footer span {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
.social_footer span:nth-last-of-type(1) {
        font-size: small;
        display: flex;
        align-items: center;
        padding-bottom: 35px;
    }
    
.social_footer div {
        margin-top: -20px;
        margin-inline: 100px;
        margin-bottom: 0;
        width: 320px;
    }

.social_contacts a {text-decoration: none; 
    color: aliceblue;}
.social_contacts {
    text-align: center;
}


header li :hover{color:pink;}

#fb:hover {
    filter: invert(35%) sepia(64%) saturate(849%) hue-rotate(187deg) brightness(90%) contrast(78%);
}

#tw:hover {
    filter: invert(49%) sepia(45%) saturate(1822%) hue-rotate(176deg) brightness(97%) contrast(95%);
}

#in:hover {
    filter: invert(31%) sepia(33%) saturate(2440%) hue-rotate(289deg) brightness(96%) contrast(97%);
}

#wp:hover {    
    filter: invert(63%) sepia(94%) saturate(412%) hue-rotate(86deg) brightness(92%) contrast(87%);
}

.gpu img {float: right;
    height: 240px;
    width: 340px;
    margin-left: 35px;
    }

.cpu img{float: left;
    height: 240px;
    width: 340px;
    margin-right: 35px;}
.ostalo img{float: right;
    height: 240px;
    width: 340px;
    margin-left: 35px;}

.cpu, .gpu, .ostalo {margin: 0 35px;line-height: 30px;}

.onama_td {line-height: 30px}

button:hover {background-color: pink;}