body {font-size: larger;
background-image: url(slike/Space-Background-Image-3-1536x1024.jpg);
background-size: cover;
background-repeat: no-repeat;
color: aliceblue;}

header, main, footer {
    margin: 0 auto;
    max-width: 991px;
    border: 1px solid;
}

header {height: 110px;}
div{ display: inline-block;}

li{float: left;
list-style-type: none;
padding: 15px;
color: aliceblue;}

.icon { width: 32px;
        height:32px;}

.social_footer li{
    list-style-type: none;
    color: aliceblue;}
footer {min-height: 110px;}